<center>
          <%if signed_in?%>
            <div id="logo"><%=link_to "Logout", destroy_user_session_path, method: :delete%> * <%=link_to "View Account", edit_user_registration_path%></div>
         <%else%>
           <div id="logo"><%=link_to "Register", new_user_registration_path, :class => 'navbar-link' %></div> <div id=logo><%=link_to "Login", new_user_session_path, :class => 'navbar-link' %></div>
        <%end%>
        <br />        
      <br />
         <div id="logo">
           <%= image_tag("HydraulicElectroLogo.jpg", :alt => "Hydraulic Electro Services, Inc.", width: "750", height: "180", class: "displayed") %>
</p>      </div>
 </div>
</center>    
